mixin titleize(title)
  if title
    = `${title} ${app.titleSeparator} ${app.name}`
  else
    = app.name
doctype html
html(lang=app.lang)
    head
        title
          block title
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        link(rel='icon' href=`data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>${app.favicon}</text></svg>`)
        link(rel='stylesheet' href='../global.sass')
    body
        header
        main
          block main
        script(src='../global.js')
